%div.container
  %div.row
    %div.col.s6.offset-s3
      =form_for(:session, url: login_path) do |f|
        %div.input-field.col.s12
          =f.label :email
          =f.email_field :email
        %div.input-field.col.s12
          =f.label :password
          =f.password_field :password
        %div.input-field.col.s12
          =f.submit t(:Login), class: "btn btn-primary"
