.col.s6
  = link_to t(:Create), new_news_path, class: 'waves-effect waves-light btn'
  = link_to t(:Visit_news), news_index_path, class: 'waves-effect waves-light btn'
.col.s6
  = form_tag admin_blog_path, method: :get do
    = text_field_tag :term, @search, size: 32, placeholder: t(:Search), class: 's8'
