%div.container
  %div.row
    %p
    %div.col.s6
      = link_to t(:Create), new_user_path, class: 'waves-effect waves-light btn'
    %div.col.s6
      = form_tag admin_users_path, method: :get do
        = text_field_tag :term, @search, size: 32, placeholder: t(:Search), class: 's8'
