%footer.page-footer.hide-on-med-and-down
  %div.container
    %div.row
      %div.col.l6.s12
        %h5.white-text Footer Content
        %p.grey-text.text-lighten-4
          You can use rows and columns here to organize your footer content.

      %div.col.l4.offset-l2.s12
        %h5.white-text Links
        %ul
          %li= link_to t(:Admin), admin_index_path, class: "grey-text text-lighten-3"

  %div.footer-copyright
    %div.container
      = MiscSettings.copyright
      = link_to MiscSettings.version, "#", class: "grey-text text-lighten-4 right"
