=breaducrumb :usersw
%div.container.black-text
  %div.row
    %div.col.12
      =render partial: 'admin/navbar/navbar.users'

  %div.row
    %div.col.16.section
      - @users.each do |user|
        %h5= link_to user.name, users_path(user)
        %small= "#{t(:email)}"
        %div.divider
