%div.container.black-text
  %div.row
    %div.col.12
      %p= "Senast uppdaterad: #{@user.latest_armory_update}"
    - @gears.each do |gear|

      %div.col.s12
        %a{:href => "#", :rel => gear.build_link}
