<%= form_for(@alt) do |f| %>
  <% if @alt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alt.errors.count, "error") %> prohibited this alt from being saved:</h2>

      <ul>
      <% @alt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
