.masthead-master{
  height: 100vh;
  width: 100%;
  background: image-url('landingpage/landingpage-bg.jpg') no-repeat center center fixed;
  @include background-size(cover);

  .masthead-content{
    margin:0 auto;
    color: #ffffff;
  }
}
