
.epic {
    color: purple !important;
}
.rare{
    color: #0070de !important;
}
.death_knight {
     color:#C41F3B;
 }
.druid {
    color: #FF7D0A !important;
}
.hunter{
    color: #ABD473;
}
.warlock{
    color: #9482C9;
}
.mage {
    color:#69CCF0;
}
.paladin{
    color: #F58CBA;
}
.shaman {
    color: #0070de;
}
.warrior{
    color: #C79C6E;
}
.priest {
    color:#fff;
}
.monk {
    color: #00FF96;
}
.rogue{
    color:#FFF569;
}
