%div.navbar-fixed
  %nav
    %div.nav-wrapper.nav-container
      = link_to image_tag("logos/logo.png", :border => 0), root_path, class: "brand-logo center"
      = link_to  "#", "data-activates" => "mobile-nav", class: "button-collapse" do
        %i.material-icons menu

      %ul.left.hide-on-med-and-down
        %li=link_to t(:Home), "#"
        %li=link_to t(:Events), "#"
        %li=link_to t(:Forum), "#"
        %li=link_to t(:Guild), "#"
        %li=link_to t(:Media), "#"
      %ul.right.hide-on-med-and-down
        %li
          =link_to "#", class: "" do
            %i.material-icons chat
        %li
          =link_to "#", class: "" do
            %i.material-icons notifications
        %li
          =image_tag(render_thumbnail_url(current_user.profile.wow_region, current_user.profile.avatar),class: "img-nav  circle")
        %li
          =link_to current_user.name, "#", class: "dropdown-button wow #{current_user.profile.wow_class}", 'data-activates' => 'profile-dropdown'

%ul#profile-dropdown.dropdown-content
  %li=link_to t(:Profile), "#"
  %li=link_to t(:Settings), "#"
  %li.divider
  %li=link_to t(:Admin), "#"
  %li.divider
  %li=link_to t(:Logout), login_path, method: :delete
